<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <% const d = new Date(); const year = d.getFullYear(); %>
    <span class="text-muted">&copy; YelpCamp <%= year %></span>
  </div>
</footer>
