#cluster-map {
  width: 100%;
  height: 400px;
}

a[title="Mapbox"],
a[title="OpenStreetMap"],
a.mapbox-improve-map {
  display: none;
}

#map {
  width: 100%;
  height: 325px;
}

.is-hidden {
  display: none;
}